@model MemberManagement.Models.Payment

@{

}

<style>
    .line-breaks {
        white-space: pre-line;
    }
</style>
<br />
<div class="text-sm-center" >
    <span class="line-breaks"><strong>@ViewBag.Message</strong></span>
</div>

