@model MemberManagement.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password Form";
}

@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> _signInManager
@inject UserManager<User> _userManager

<br />
<h2 class="col-sm-4">Change Password Form</h2>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form class="border-da" method="post" asp-action="ChangePassword">
    <div class="form-group row">
        <div class="offset-1 col-sm-1"><label asp-for="Username"></label></div>
        <div class="offset-1 col-sm-4"><input asp-for="Username" class="form-control" /></div>
        <div class="col"><span asp-validation-for="Username" class="text-danger"></span></div>
    </div>

    <div class="form-group row">
        <div class="offset-1 col-sm-1"><label asp-for="OldPassword"></label></div>
        <div class="offset-1 col-sm-4"><input asp-for="OldPassword" class="form-control" /></div>
        <div class="col"><span asp-validation-for="OldPassword" class="text-danger"></span></div>
    </div>

    <div class="form-group row">
        <div class="offset-1 col-sm-1"><label asp-for="NewPassword"></label></div>
        <div class="offset-1 col-sm-4"><input asp-for="NewPassword" class="form-control" /></div>
        <div class="col"><span asp-validation-for="NewPassword" class="text-danger"></span></div>
    </div>

    <div class="form-group row">
        <div class="offset-1 col-sm-1"><label asp-for="ConfirmPassword"></label></div>
        <div class="offset-1 col-sm-4"><input asp-for="ConfirmPassword" class="form-control" /></div>
        <div class="col"><span asp-validation-for="ConfirmPassword" class="text-danger"></span></div>
    </div>
    <div class="row">
        <div class="offset-2 col-sm-4">
            <button type="submit" class="btn btn-primary"><strong>Change</strong></button>
            <a asp-controller="payment" asp-action="list" class="btn btn-primary">Cancel</a>
        </div>

    </div>

</form>

