@model MemberManagement.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot Password";
}

<br />
<h2 class="col-sm-4">Forgot Password</h2>


<div class="row">
    <div class="col-md-12">
        <form class="border-da" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

             <button type="submit" class="btn btn-primary"><strong>Submit</strong></button>
        </form>
    </div>
</div>